<div>
  <head>
    <title>{% block title %}idk this url{% endblock %}</title>
  </head>
  <style>

    table{margin-left:auto; margin-right:auto; background-color:aqua; border-radius:22px; padding:2px}

    th,td{
      border-radius:14;
      padding:4px;
    }

    button{text-position:center; border-radius:25px; padding:2px; background-color:skyblue}
    .header{margin:0px;}
  </style>
  <body>
    <div class = "header">
      <table>
        <tr>
          <th>THIS IS THE HEADER OF MY SITE</th>
        </tr>
      </table>
    </div>
    <hr>
    <div id='content' name = 'content'>
      {% block content %}
        404 page not found 
      {% endblock %}
    </div>
  </body>
</html>
